.card-image img {
  height: 180px;
  object-fit: cover;
}

.card-title {
  background: rgba(0, 0, 0, 0.45);
  padding: 6px 10px !important;
  border-radius: 6px;
}

.card-panel {
  border-radius: 12px;
}

.container p {
  margin-top: 5px;
}
